.row
  %h1 Analyzer

.row.collapse
  = form_tag analyzers_path, method: 'get' do

    .row
      = label_tag :text, 'Text to Analyze'
      = text_area_tag :text, params[:text], required: true

    .row
      .small-12.medium-4.columns
        .row.analyzers
          %label Analyzers

          .row
            = check_box_tag 'analyzers_all', nil, params[:analyzer_ids] == all_analyzer_ids, id: "analyzer_all"
            = label_tag "analyzer_all", 'All'

          - all_analyzer_ids.each do |analyzer_id|
            .row
              = check_box_tag 'analyzer_ids[]', analyzer_id, selected_analyzer_ids.include?(analyzer_id), id: "analyzer_#{analyzer_id}"
              = label_tag "analyzer_#{analyzer_id}", analyzer_id.titleize

        .row
          = button_tag 'Analyze', value: 'analyze'

      .small-12.medium-8.columns
        .row
          - if @analyzers.present?
            = render 'analyzers/table', analyzers: @analyzers
