.row
  %h1 Analyzer

.row.collapse
  = form_tag analyzers_path, method: 'get' do

    .row
      = label_tag :text, 'Text to Analyze'
      = text_area_tag :text, params[:text], required: true

    .row
      .small-12.medium-4.columns
        .row.analyzers
          %label Analyzers

          .row
            = check_box_tag 'analyzers_all', nil, selected_analyzer_ids == all_analyzer_ids, id: "analyzer_all"
            = label_tag "analyzer_all", 'All'

          - all_analyzers.each do |analyzer|
            .row.collapse.analyzer
              .small-1.columns
                = check_box_tag 'analyzer_ids[]', analyzer.id, selected_analyzer_ids.include?(analyzer.id), id: "analyzer_#{analyzer.id}"
              .small-11.columns
                = label_tag "analyzer_#{analyzer.id}" do
                  = analyzer.name
                  = '-'
                  %span.note= analyzer.description

        .row
          = button_tag 'Analyze', value: 'analyze'

      .small-12.medium-8.columns
        .row
          - if @analyzers.present?
            = render 'analyzers/table', analyzers: @analyzers
