.row
  %h1 Analyzer

= form_tag analyzers_path, method: 'get' do
  .row
    = label_tag :text, 'Text to Analyze'
    = text_area_tag :text, params[:text], required: true

  .row.analyzers
    %label Analyzers
    = check_box_tag 'analyzers_all', nil, params[:analyzers].count == analyzer_ids.count, id: "analyzer_all"
    = label_tag "analyzer_all", 'All'

    - analyzer_ids.each do |analyzer|
      = check_box_tag 'analyzers[]', analyzer, params[:analyzers].present? && params[:analyzers].include?(analyzer), id: "analyzer_#{analyzer}"
      = label_tag "analyzer_#{analyzer}", analyzer.titleize

  .row
    = button_tag 'Analyze', value: 'analyze'

.row
  - if @analyzers.present?
    %table
      %thead
        %tr
          %th Analyzer
          %th Tokens
      %tbody
        - @analyzers.each do |tokenizer|
          %tr
            %td
              = tokenizer.name
            %td
              - tokenizer.each do |token|
                = token
