!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %title lucene.me

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body

    %nav.top-bar{ 'data-topbar' => true }
      %ul.title-area
        %li.name
          %h1
            = link_to 'lucene.me', root_path
      %section.top-bar-section
        %ul.right
          %li.has-dropdown
            %a{ href: '#' } Tools
            %ul.dropdown
              %li
                = link_to 'Analyzer', analyzers_path

    = yield
    = javascript_include_tag 'application'
